
<!-- TODO add menu html here -->

<div id="content">
    <div id = "backgroundDiv"></div>
    <div class="topnav">

        <div class="topnav-centered">
          <a href=""><img alt="logo" src="../../Images/PropertyHLogo.png" width="200" height="45"></a>
        </div>
    
        <div class="topnav-left">
            <a href="crime">Crime</a>
            <a href="weather">Weather</a>
          </div>
        
    
        <div class="topnav-right">
          <a href="compare">Compare</a>
          <a href="about">About</a>
        </div>
      
      </div>
      <router-outlet></router-outlet>

</div>

