
.topnav {
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
  border:2px solid;
}
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.topnav a:hover {
    color: #299AE6;
}

    /* .topnav a.active {
    background-color: #4CAF50;
    color: white;
    } */

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.topnav-right {
  float: right;
  margin-right: 6%;
}
.topnav-left {
    margin-left: 6%;
  }

@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

  
  #bodyDiv{
    position: relative;
    position: center;
    overflow:auto; 
    border: 2px solid;
    height:89vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../Images/FinalBodyImg.png);
  }