
  
  #bodyDiv{
    position: relative;
    position: center;
    overflow:auto; 
    border: 2px solid;
    height:89vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../Images/FinalBodyImg.png);
    
  }